html {
    background-color: black;
}


/* styleing the header*/

header h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: yellow;
}

/* styleing the main*/

main {
    display: flex;
}
main img {
    max-width: 100%;
}
.leftall {
    width: 60%;
}
.leftup {
    margin-left: 3rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    color: yellow;
}
.leftup h2 {
    font-size: 3rem;
    font-weight: bold;
}
.leftup h3 {
    font-size: 2rem;
}
.leftdown {
    margin-left: 3rem;
    color: yellow;
}
.leftdown h2 {
    font-size: 2rem;
    font-weight: bold;
}
.leftdown li {
    font-size: 1.5rem;
}
.personalpic {
    width: 40%;
    padding: 2%;
}
.personalpic img {
    border-radius: 5%;
}
hr {
    background-color: gold;
}
/* styleing the footer*/

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: yellow;
}
footer ul {
    display: flex;
}
footer ul li {
    list-style-type: none;
    padding: 1rem;
}
footer ul a {
    text-decoration: none;
    color: yellow;
}
footer p {
    padding: 1rem;
}