/* styleing the header*/

header h1 {
    text-align: center;
}

/*main*/
.projects {
    display: flex;
    justify-content: space-between;
}

.project {
    width: 28%;
}

.project img {
    border: 1px solid black;
    height: 20%;
    width: 100%;
}

.contact {
    text-align: center;
}


/* styleing the footer*/

footer {
    display: flex;
    justify-content: space-between;
}
footer ul {
    display: flex;
}
footer ul li {
    list-style-type: none;
    padding: 0px 5px;
}
footer ul a {
    text-decoration: none;
}
footer p {
    padding: 1rem;
}